* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #555;
  color: #fff;
}

.header {
  border-bottom: solid 5px darkcyan;

  .title {
    line-height: 4rem;
    padding-inline: 2rem;
    text-align: center;
  }
}

.main {
  padding: 2rem;
}
.form-filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;

}
.country-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
