* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #555;
  color: #fff;
}

.header {
  border-bottom: solid 5px darkcyan;

  .title {
    line-height: 4rem;
    padding-inline: 2rem;
    text-align: center;
  }
}

.main {
  padding: 2rem;
}
.forms {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;

}
.country-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
.form-add {
  gap: 4rem;
} 

.button-add {
  padding: 0.5rem;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

@media (max-width: 600px) {
  .forms {
    flex-direction: column;
  }
}